/*
Css file for the styling of the main chat window.
*/
body {
  margin: 0;
  padding: 0;
  color: #666666;
  font-weight: 300;
  font-family: 'Roboto';
  background-color: #F9F9F9;
}
a {
  font-weight: 300;
  color: #72B963;
}
.container {
  margin: 10vh 16vw ;
  position: relative;
  width: 80vw;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  height: 80vh;
}
.container ul {
  margin: 0;
  padding: 0;
}
.container ul>li {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.container ul>li:nth-child(odd) {
  background: #F6F5F6;
}
.messages {
  height: 75vh;
  overflow-y: scroll;
}
.message-button {

}
.actions {
  position: absolute;
  bottom: 0;
  background-color: #2ecc71;
  width: 100%;
  border-top: 1px solid #EEEEEE;
}
.actions input {
  border: 0;
  margin: 0;
  font-size: 1em;
  padding: 1.5vh 1vw;
  width: 68vw;
  float: left;
}
.actions button {
  border: 0;
  margin: 0;
  width: 10vw;
  text-align: center;
  font-size: 1em;
  padding: 1.5vh 1vw;
  float: left;
  background-color: #2ecc71;
  color: #FFFFFF;
}

.login__submit {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #3b3a36;
}

.login__submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #b3c2bf;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
